.container-box {
  width: 100%;
  height: 100%;
  padding: 70px 0 0;
}
.container-box .header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}
.container-box .header .h-con {
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.container-box .header .h-con .l-con {
  display: flex;
  align-items: center;
}
.container-box .header .h-con .l-con img {
  width: 40px;
  height: 50px;
}
.container-box .header .h-con .l-con .name {
  font-size: 20px;
}
@media screen and (max-width: 780px) {
  .container-box .header .h-con .l-con .name {
    font-size: 16px;
    max-width: 200px;
  }
}
.container-box .header .h-con .r-con {
  display: flex;
  align-items: center;
  list-style: none;
}
.container-box .header .h-con .r-con .r-item {
  font-weight: 500;
  margin-right: 30px;
  cursor: pointer;
}
.container-box .header .h-con .r-con .r-item:hover {
  color: #216abc;
}
.container-box .header .h-con .hide {
  display: none;
}
.container-box .small-menu {
  position: fixed;
  right: 20px;
  top: 15px;
  color: #216abc;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
}
.container-box .first {
  width: 100%;
}
.container-box .first .f-con img {
  width: 100%;
}
.container-box .second {
  width: 100%;
  padding: 60px 0;
}
@media screen and (max-width: 780px) {
  .container-box .second {
    padding: 20px 0;
  }
}
.container-box .second .top {
  width: 100%;
  padding: 0 20px;
}
.container-box .second .top .con {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
  justify-content: center;
}
@media screen and (max-width: 780px) {
  .container-box .second .top .con {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
.container-box .second .top .con .l-con {
  max-width: 850px;
  width: 100%;
  margin-bottom: 10px;
}
.container-box .second .top .con .r-con {
  max-width: 350px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.container-box .second .top .con .r-con img {
  width: 150px;
}
.container-box .second .line {
  height: 2px;
  width: 62px;
  background: #216abc;
  margin: 0 auto 20px;
}
.container-box .second .t-title {
  text-align: center;
}
@media screen and (max-width: 780px) {
  .container-box .second .t-title {
    font-size: 20px;
  }
}
.container-box .second .b-desc {
  text-align: center;
  line-height: 1.5;
}
.container-box .second .middle {
  width: 100%;
  padding: 50px 20px;
  background: #fbfbfb;
}
@media screen and (max-width: 780px) {
  .container-box .second .middle {
    padding: 20px;
  }
}
.container-box .second .middle .con {
  max-width: 1200px;
  margin: 0 auto;
}
.container-box .second .bottom {
  width: 100%;
  padding: 30px 20px 0;
}
.container-box .second .bottom .con {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 780px) {
  .container-box .second .bottom .con {
    flex-wrap: wrap;
  }
}
.container-box .second .bottom .con .left-con {
  max-width: 450px;
  width: 100%;
  text-align: center;
  margin-right: 50px;
}
.container-box .second .bottom .con .left-con img {
  width: 350px;
}
@media screen and (max-width: 780px) {
  .container-box .second .bottom .con .left-con {
    margin-right: 0;
  }
  .container-box .second .bottom .con .left-con img {
    width: 200px;
    margin-bottom: 10px;
  }
}
.container-box .second .bottom .con .right-con {
  max-width: 700px;
}
.container-box .second .bottom .con .right-con p {
  line-height: 1.5;
}
@media screen and (max-width: 780px) {
  .container-box .second .bottom .con .right-con h1 {
    font-size: 20px;
  }
  .container-box .second .bottom .con .right-con h2 {
    font-size: 18px;
  }
}
.container-box .third {
  width: 100%;
  background: #216abc;
  padding: 50px 20px;
  box-sizing: border-box;
}
.container-box .third .t-con {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.container-box .third .t-con .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.container-box .third .t-con .phone .icon {
  font-size: 26px;
  margin-right: 5px;
}
.container-box .third .t-con .phone a {
  color: #fff;
}
.container-box .third .t-con p {
  line-height: 1.5;
}
.container-box .footer {
  width: 100%;
  padding: 40px 20px;
  background: #071e33;
  box-sizing: border-box;
}
.container-box .footer .f-con {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}
.container-box .hide-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.9);
  z-index: 0;
}
.container-box .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: #216abc;
  padding: 30px 20px;
  transition: all 0.3s linear;
}
.container-box .nav ul {
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 0;
}
.container-box .nav ul .r-item {
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
}
.container-box .hide {
  display: none;
}
.container-box .hide1 {
  position: fixed;
  left: -100%;
  top: 0;
  width: 70%;
  height: 100%;
  background: #216abc;
  padding: 30px 20px;
  transition: all 0.3s linear;
}
